---
layout: post
---

<!--
Ce layout va rajouter un lien de téléchargement en tête du post.
Le telechargement va rechercher le fichier du même nom que le post,
dans le même sous-dossier, mais en pj, avec l'extension .pdf

S'il n'existe pas, ignore.

Xavier
-->

{% for cat in page.categories %}
<span class=category> {{cat | upcase }} </span>
{% endfor %}

{% for cat in page.tags %}
<span class=tags> {{cat | capitalize }} </span>
{% endfor %}


<br/>
{% capture downloadfile %}{{page.path | replace_first: "_posts","pj" | replace: ".md",".pdf" | relative_url}}{% endcapture %}
<a href={{downloadfile}} target='_blank'>T&eacute;l&eacute;charger </a> la m&eacute;ditation.
<br/>
{{ content }}
